.svg-arrow {
	background: url("svg/sprite.css-29586a82.svg") 0 100% no-repeat;
}

.svg-arrow-dims {
	width: 39px;
	height: 13px;
}

.svg-big-logo {
	background: url("svg/sprite.css-29586a82.svg") 0 0 no-repeat;
}

.svg-big-logo-dims {
	width: 140px;
	height: 54px;
}

.svg-bird--white {
	background: url("svg/sprite.css-29586a82.svg") 86.95652173913044% 86.86868686868686% no-repeat;
}

.svg-bird--white-dims {
	width: 13px;
	height: 10px;
}

.svg-burger {
	background: url("svg/sprite.css-29586a82.svg") 97.22222222222223% 73.86363636363636% no-repeat;
}

.svg-burger-dims {
	width: 30px;
	height: 21px;
}

.svg-cross {
	background: url("svg/sprite.css-29586a82.svg") 97.9020979020979% 43.58974358974359% no-repeat;
}

.svg-cross-dims {
	width: 31px;
	height: 31px;
}

.svg-medium-logo {
	background: url("svg/sprite.css-29586a82.svg") 0 80.59701492537313% no-repeat;
}

.svg-medium-logo-dims {
	width: 110px;
	height: 42px;
}

.svg-small-logo {
	background: url("svg/sprite.css-29586a82.svg") 100% 0 no-repeat;
}

.svg-small-logo-dims {
	width: 34px;
	height: 34px;
}

