.bk-checkbox-block {

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-width: 309px;

    padding-left: 60px;
    box-sizing: content-box;

    @media @tablet {
            
        padding-left: 30px;

        & + & {

            margin-top: 25px;
        }
    }

    &__title {

        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    
        color: @dark-gray;

        @media @tablet {
            
            font-size: 13px;
            line-height: 16px;
        }
    }

    &__text {

        margin-top: 14px;

        display: block;

        font-size: 16px;
        line-height: 24px;

        color: @light-gray;

        @media @tablet {
            
            font-size: 13px;
            line-height: 18px;
        }
    }

    &:before {
    
        content: "";

        display: block;

        width: 40px;
        height: 40px;

        background: url("../stack/sprite.svg#icon-check") no-repeat;

        position: absolute;
        top: 0;
        left: 0;

        @media @tablet {
            
            width: 23px;
            height: 23px;

            top: -3px;
        }
    }
}