.bk-client-choice {

    &--default {

        display: flex;
        justify-content: space-between; 
        align-items: center;  

        @media @tablet {

            flex-direction: column;
            justify-content: flex-start; 
        }
    }

    &--reverse {

        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;

        @media @tablet {

            flex-direction: column;
            justify-content: flex-start; 
        }
    }

    &__info {

        display: flex;
        flex-direction: column;
        margin: 0 80px;

        @media @tablet {

            margin: 0;
        }
    }

    &__image {

        flex-shrink: 0;
    }

    &__title {

        font-weight: bold;
        font-size: 24px;
        line-height: 42px;

        color: @dark-gray;

        @media @tablet {

            margin-top: 12px;

            font-size: 14px;
            line-height: 17px;

            text-align: center;
        }
    }

    &__text {

        font-weight: 500;
        font-size: 20px;
        line-height: 34px;

        color: @light-gray;

        @media @tablet {

            margin-top: 10px;
            
            font-size: 13px;
            line-height: 18px;

            text-align: center;
        }
    }
}