.bk-diplomas {

    position: relative;

    &__nav-btns {

        display: flex;
        justify-content: flex-end;

        align-items: flex-end;

        height: 40px;
        position: absolute;
        top: 15px;
        right: 0px;
    }

    &__img {

        width: 305px;
    }

    &__swiper-container {

        margin-top: 50px;
    }

    &__diplom-name {

        margin-top: 10px;

        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        text-align: center;
    }
}