.bk-form {

    &--row {

        display: flex;
        justify-content: space-between;
    }

    &__input {

        &:nth-child(1) {

            width: 400px;
        }

        &:nth-child(2) {

            width: 330px;
        }

    }
}