.bk-header,
.bk-footer{

    &__info-line {

        display: flex;
        justify-content: flex-end;
        align-items: center;

        max-width: 1283px;
        margin: 0 auto; 
    }

    &__navi-line {

        margin: 27px auto 0;
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        max-width: 1283px;
    }
}

.bk-info-line {

    &__adress {

        display: inline-block;

        font-weight: normal;
        font-size: 13px;

        max-width: 300px;

        margin-right: 60px;
    }
    
    &__phone{

        display: block;

        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }

    &__schedule{

        display: block;
    }

    &--header &__adress{

        color: @light-gray;
    }
    
    &--header &__phone{

        color: @dark-blue;
    }

    &--header>&__schedule{

        color: @dark-gray;
    }

    &--footer>&__adress{

        color: @white;
        font-size: 13px;
    }
    
    &--footer &__phone{

        color: @gray-bg;
    }

    &--footer &__schedule{

        color: @gray-bg;
        font-size: 13px;
    }
}

.bk-navi-line {

    &__logo {
    
        width: 174px;
        height: 34px;
    }

    &__nav-menu {
    
        display: block;
        width: 733px;
    }
}