.bk-late-payment {

    &__title {

        max-width: 851px;
    }

    &__cards {

        margin-top: 66px;
    }

    &__blockquote {

        margin-top: 109px;

        padding-left: 193px;

        position: relative;
    }
}