.bk-main {

    &__section {
    
        max-width: 1283px;
        margin: 0 auto;

        @media @tablet {
            
            padding: 0 15px;
            min-width: 320px;
            margin: 0 auto;
        }
    }

    &__our-offer {

        max-width: 821px;
    }

    &__checkboxes {

        margin-top: 79px;

        max-width: 827px;

        display: flex;
        justify-content: space-between;

        @media @tablet {
            
            flex-direction: column;
            margin-top: 36px;
        }
    }

    &__circle {

        width: calc(100% / 2 - 150px);

        position: absolute;
        right: -75px;
        top: 197px;

        @media @tablet {
            
            display: none;
        }
    }

    &__late-payment {

        margin-top: 230px;

        @media @tablet {
            
            flex-direction: column;
            margin-top: 23px;
        }
    }

    &__procedure {

        margin-top: 46px;
    }

    &__consequences {

        margin-top: 74px;

        display: flex;
        flex-direction: column;
        align-items: center;

        @media @tablet {
            
            margin-top: 34px;
        }
    }

    &__services {

        background: #F8F8F8;

        height: 926px;

        max-width: 100%;
        margin-top: 129px;

        position: relative;

        padding: 175px 0;

        @media @tablet {
            
            margin-top: 34px;

            display: flex;
            flex-direction: column;

            padding: 35px 15px;

            height: inherit;
        }

        &:before {

            content: "";

            display: block;

            position: absolute;

            transform: translate(-50%, -50%);

            top: 50%;
            left: 50%;

            height: 808px;
            width: 808px;

            background: url("../img/bg_services.png");

            @media @tablet {

                display: none;
            }
        }
    }

    &__customer-choice {

        margin-top: 75px;

        @media @tablet {

            margin-top: 33px;
        }
    }

    &__our-work {

        margin-top: 143px;

        @media @tablet {

            margin-top: 48px;
        }
    }

    &__director {

        margin-top: 105px;

        @media @tablet {

            margin-top: 48px;
        }
    }

    &__numbers {

        margin-top: 160px;

        @media @tablet {

            margin-top: 48px;
        }
    }

    &__diplomas {

        margin-top: 107px;

        @media @tablet {

            margin-top: 63px;
        }
    }

    &__our-adress {
    
        position: relative;
    }

    &__victories {

        margin-top: 115px;
    }
}