.bk-nav-menu {

    &__list-items {

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
    }

    &__item {
    
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    &__link {

        color: @dark-gray;

        &:target {

            color: @dark-gray;
        }
    }
}