.bk-nav-menu {

    @media @tablet {
            
        display: none;
    }

    &__list-items {

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
    }

    &__item {
    
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    &--header &__link {

        color: @dark-gray;

        &:target {

            color: @dark-gray;
        }
    }

    &--footer  &__link {

        color: @white;

        &:target {

            color: @white;
        }
    }
}