.bk-our-work {

    width: 100%;
    height: 700px;
    background-image: url("../img/bg-our-work.png");

    @media @tablet {

       height: inherit;
    }

    &__cards {

        margin-top: 50px;

        @media @tablet {

            margin-top: 20px;
        }
    }

    &__wrapper {
    
        padding: 105px 0;
        box-sizing: border-box;

        max-width: 1280px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;

        @media @tablet {

            padding: 45px 15px 32px;
        }
    }

    &__btn {

        margin-top: 50px;

        margin-top: 50px;
        width: 297px;
        align-self: center;

        @media @tablet {

            margin-top: 20px;
            font-size: 13px;
            text-align: center;
        }
    }
}