.bk-procedure-list {

    &--blue {

        background: #0057D9;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.07);
        border-radius: 14px;

        display: flex;
        justify-content: flex-start;

        padding: 44px;
        
        @media @tablet {
            
            padding: 25px;
            
            flex-direction: column;
            align-items: center;
        }
    }

    &--white {

        background: #FFFFFF;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.07);
        border-radius: 14px;

        display: flex;
        justify-content: flex-start;

        padding: 47px 60px 36px 48px;

        @media @tablet {
            
            padding: 25px;
            
            flex-direction: column;
            align-items: center;
        }
    }

    &__item-blue {

        font-weight: 500;
        font-size: 18px;
        line-height: 26px;

        display: flex;
        align-items: center;

        color: #FFFFFF;
        position: relative;

        padding-left: 85px;

        &:nth-child(1) {

            border-right: 1px solid #E0E0E0;

            padding-right: 26px;
        }

        &:nth-child(2) {

            border-right: 1px solid #E0E0E0;

            padding-right: 45px;
        }
        
        &:before {

            content: "";

            display: block;

            width: 32px;
            height: 32px;

            background: url("../stack/sprite.svg#white-check") no-repeat;

            position: absolute;
            top: 10px;
            left: 44px;

            @media @tablet {

                top: -38px;
                transform: translate(-50%, 0px);
                left: 50%;
            }
        }

        @media @tablet {

            padding-left: 0px;

            font-size: 13px;
            line-height: 18px;

            text-align: center;

            border-right: none;

            margin-top: 50px;

            font-weight: 400;

            & + & {

                margin-top: 95px;
            }

            &:not(:last-child) {

                position: relative;

                &:after { 

                    content: "";

                    display: block;
        
                    height: 2px;
                    width: 58px;

                    opacity: 0.2;
                    background: #E0E0E0;

                    transform: translate(-50%, 0px);
                    left: 50%;

                    position: absolute;
                    bottom: -22px;
                }
            }

            &:nth-child(1) {

                border-right: none;
    
                padding-right: 0;
            }
    
            &:nth-child(2) {
    
                border-right: none;
    
                padding-right: 0;
            }
        }
        
    }

    &__item-white {


        font-size: 16px;
        line-height: 24px;

        display: flex;
        align-items: center;

        color: #333333;

        position: relative;

        padding-left: 41px;
            
        &:before {

            content: "";

            display: block;

            width: 32px;
            height: 32px;

            background: url("../stack/sprite.svg#icon_attention") no-repeat;

            position: absolute;
            top: 0px;
            left: -10px;

            @media @tablet {

                top: -47px;
                transform: translate(-50%, 0px);
                left: 50%;
            }
        
        }

        & + & {

            padding-left: 91px;

            &:before {

                left: 40px; 
                
                @media @tablet {

                    left: 50%;
                }
            }
        }

        @media @tablet {

            padding-left: 0px;

            font-size: 13px;
            line-height: 18px;

            text-align: center;

            border-right: none;

            margin-top: 50px;

            font-weight: 400;

            & + & {

                margin-top: 76px;
                padding-left: 0px;
            }
        }
    }
}