.bk-service-card {
	padding: 30px;

	background: #ffffff;

	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.07);
	border-radius: 14px;

	width: 420px;
	position: relative;

	@media @tablet {
		width: 100%;

		padding: 81px 30px 30px;
	}

	&:before {
		content: "";

		display: block;

		width: 42px;
		height: 42px;

		position: absolute;

		top: 20px;
		right: 20px;

		@media @tablet {
			transform: translate(-50%, 0px);
			left: 50%;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;

		color: @dark-gray;

		@media @tablet {
			font-size: 14px;
			line-height: 17px;
			text-align: center;
		}
	}

	&__text {
		margin-top: 17px;

		font-size: 16px;
		line-height: 24px;

		color: @light-gray;

		max-width: 320px;

		@media @tablet {
			font-size: 13px;
			line-height: 18px;
			text-align: center;
			margin: 17px auto;
		}
	}

	&__btn {
		margin-top: 17px;

		@media @tablet {
			justify-content: center;
		}
	}

	&--representative {
		&:before {
			background: url("../stack/sprite.svg#icon_predstavitel") no-repeat;
		}
	}

	&--bankruptcy {
		&:before {
			background: url("../stack/sprite.svg#icon_bankrupcy") no-repeat;
		}

		@media @tablet {
			margin-top: 10px;
		}
	}

	&--receivables {
		&:before {
			background: url("../stack/sprite.svg#icon_debitorka") no-repeat;
		}

		@media @tablet {
			margin-top: 10px;
		}
	}

	&--production {
		&:before {
			background: url("../stack/sprite.svg#icon_ispolnit") no-repeat;
		}

		@media @tablet {
			margin-top: 10px;
		}
	}
}
