.bk-solution {

    &--block {
    
        background: @dark-blue;
        height: 280px;
        max-width: 100%;

        display: flex;
        justify-content: center;
    }

    &__wrapper {

        max-width: 1177px;
        flex: 1;
    }

    &__title {

        margin-top: 33px;
    }

    &__text {

        color: @white;
        margin-top: 11px;
    }

    &__form {

        margin-top: 36px;
    }
}